<header>
    <div class="site-nav">
        <h1 class="title">Gruebite</h1>
        <ul>
            <li><a class="site-link" href="/">/</a></li>
            <li><a class="site-link" href="/about/">/about</a></li>
            <li><a class="site-link" href="/feed.xml">/rss</a></li>
            <li><a class="site-link" href="https://github.com/gruebite">/github</a></li>
        </ul>
    </div>
</header>